body{

font-family:
Arial,
"Microsoft JhengHei";

background:#f5f5f5;

}


.container{

width:600px;

margin:auto;

text-align:center;

}



input{

padding:10px;

font-size:20px;

}



button{

padding:10px 20px;

}



#seatArea{

display:grid;

grid-template-columns:
repeat(5,80px);

gap:15px;

justify-content:center;

margin-top:30px;

}



.seat{

height:60px;

background:white;

border-radius:10px;

display:flex;

align-items:center;

justify-content:center;

cursor:pointer;

box-shadow:
0 2px 5px #aaa;

}



.locked{

background:#aaa;

cursor:not-allowed;

color:white;

}
