body{

font-family:
"Microsoft JhengHei",
Arial;

background:#f4f4f4;

}



.container{

width:900px;

margin:30px auto;

text-align:center;

}





input{

padding:10px;

font-size:18px;

}



button{

padding:10px 20px;

margin:5px;

font-size:16px;

cursor:pointer;

}







#seatArea,
.classroom{


display:grid;


grid-template-columns:
repeat(8,80px);


grid-auto-rows:70px;


gap:15px;


justify-content:center;


margin-top:30px;


}





.seat{


background:white;


border-radius:12px;


display:flex;


align-items:center;


justify-content:center;


font-size:18px;


border:2px solid #ddd;


cursor:pointer;


transition:.2s;


}





.seat:hover{


transform:scale(1.05);


}






.locked{


background:#777;


color:white;


cursor:not-allowed;


}





.mine{


background:#ffd966;


border-color:#f1b900;


}








.podium{


grid-column:
1 / 9;


background:#ccc;


padding:15px;


margin-bottom:20px;


border-radius:12px;


font-size:22px;


}





#students{


background:white;


padding:15px;


border-radius:10px;


text-align:left;


line-height:2;


}




#system{


font-size:20px;


margin:20px;


}


